{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Hi, {{ current_user.username }}!</h1>
        {% if state %}
            <h2>Last syncronization status</h2>
            <p>
                <b>Datetime: </b>{{ state.datetime }} UTC<br>
                <b>Status: </b>{{ state.status }}<br>
                {% if state.status == 'Success' %}
                    <b>Added: </b>{{ state.added }}<br>
                    <b>Updated: </b>{{ state.updated }}<br>
                    <b>Deleted: </b>{{ state.deleted }}<br>
                {% endif %}
            </p>
            <hr>
        {% endif %}
        {% if warehouses %}
            <h2>These are your warehouses</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tenant ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for warehouse in warehouses %}
                        <tr>
                            <td>{{ warehouse.id }}</td>
                            <td>{{ warehouse.tenant_id }}</td>
                            <td>{{ warehouse.name }}</td>
                        </tr>>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Currently there are no warehouses to show</p>
        {% endif %}
    {% else %}
        <h1>Hi, User!</h1>
        <p>Please login to view and syncronized your data!</p>
    {% endif %}
{% endblock %}